* {
  box-sizing: border-box;
}
body {
  font-family: monospace;
  background: #2f9599;
}
h1#tittle {
  font-size: 4rem;
  margin: 25px auto;
  text-align: center;
  color: #ffaaa6;
  letter-spacing: 5px;
}
.flex-container-column {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 50px auto;

  text-align: right;
  background-color: #cc527a;
  box-shadow: #cc527a;
}
.flex-container-row {
  display: flex;
}
.button {
  flex-basis: 25%;
  font-size: 1.5rem;
  text-align: center;
  padding: 40px;
  border: 1px solid black;
  border-radius: 50px;
  margin: 5px;
  background: -webkit-linear-gradient(top, #f8d49b, #f8e6cb);
  box-shadow: 0 7px rgba(0, 0, 0, 0.2);
  color: black;
  cursor: pointer;
}

.double {
  flex-basis: 50%;
}
.display {
  color: black;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #f8d7a5;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 2rem;
}
.operator,
.equals,
.negative {
  background: #62c4c3;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  margin-top: 20px;
}
.button:hover {
  font-weight: bold;
}
.button:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
.history {
  width: 80%;
  margin: 30px auto 0 auto;
  text-align: center;
  overflow: scroll;
  background-color: white;
}
th,
td {
  text-align: center;
  padding: 16px;
}
th {
  background-color: orange;
  color: white;
}

tr:nth-child(even) {
  background-color: #d2d2d2;
}
@media screen and (max-width: 513px) {
  .button {
    padding: 10px;
  }
  .history {
    width: 100%;
  }
}
